.header{
    text-align: center;
    padding-bottom: 10vh;
}
#textAreaToTranslate{
    height: 10vh;
    width: 30rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;

    
}
#translateBtn{
    position: absolute;
     
    justify-content: center;
    padding: 5px;
    border-radius: 10px;

    
  
}

.textAreaTranslated{
    height: 10vh;
    width: 30rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;

}